body{
    background:#4c4c4c none repeat scroll 0 0;
    font-size: 15px;
    font-family: arial;
    margin: 0;
    padding: 0;
    overflow: auto;
    color: black;
}
@font-face {
    font-family: layla;
    src: url('LaylaExtraBold.ttf');
}
h1{
    font-size: 26px;
    margin-top: 8px;
    text-align: center;
}
.clear{
    clear: both;
}
#by{
    background: white none repeat scroll 0 0;
    border: medium solid;
    padding: 15px;
    position: absolute;
    top: 87px;
    width: 409px;
}
table *{
    text-align: center;
    padding:0;
}
table div{
    word-wrap: break-word;
}
table td, table th{
    padding:0 2px;
}
table td input,table td select{
    width: 100%;
}
thead{
    background: #38353c none repeat scroll 0 0;
    color: #d9d9d9;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
table{
    background: white;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 11px;
}
tbody{
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.centrar{
    text-align: center;
    margin: 0 auto;
}
img{
    height: 100%;
    width: 100%;
}
.negrilla{
    font-weight: bold;
}
.negrillaenter{
    font-weight: bold;
    display: block;
    padding-top: 3px;
}
.sinborde{
    border: none;
}
.pequeno{
    width: 50px;
     
}
.pequeno2{
    width: 20px;
    height: 20px;
}
.chico{
    width: 70px;
}
.normal{
    width: 100px;
}
.medio{
    width: 150px;
}
.grande{
    width: 200px;
}
.grande2{
    width: 250px;
}
.grande3{
    width: 300px;
}
button{
    /* border: 1px solid; */
    border-radius: 6px;
    padding: 1px;
    margin-top: 10px;
    box-shadow: 0 0 2px 1px black;
    cursor: pointer;
    margin-left: 5px;
}
.error{
    color: #4f0d00;
    display: block;
    font-size: 12px;
}
.correcto{
    color: #00FF00;
    display: block;
    font-size: 12px;
}
.popup{
    background: white;
    box-shadow: 0 0 10px 1px black;
    padding: 10px 20px;
    color: black;
    display:none;
    border-radius: 4px;
}
.alineacionIzquierda{
    float: left;
}
.alineacionDerecha{
    float: right;
}
.contenedor30{
    width: 29%;
    float: left;
    padding: 0;
}
.contenedor70{
    width: 69%;
    float: left;
    padding: 0;
}
.contenedor50{
    width: 50%;
    float: left;
    padding: 0;
}
#msmOK{
    border: medium solid #4c4c4c;
    border-radius: 7px;
    width: 340px;
    z-index: 5;
}
.background{
    background: rgba(20, 20, 20, 0.4) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
}
#cargando{
    background: rgba(163, 160, 173, 0.37) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
}
#cargando img{
    height: 80%;
}
#cargando div{
    background: white none repeat scroll 0 0;
    border: medium solid;
    border-radius: 15px;
    height: 160px;
    margin: 155px auto;
    width: 230px;
}
.vistafoto{
    width: 25px;
    cursor: pointer;
}
.vistafoto:hover{
    width: 50px;
}
div{
    padding: 3px 10px;
}
iframe{
    border: solid 3px black;
    height: 530px;
    width: 680px;
    margin: 0 auto;
    display: block;
    background: rgba(230,230,230,1);
}
.box:hover{
    transform: scale(1.05,1.05);
}
.box{
    border: medium solid black;
    border-radius: 7px;
    float: left;
    background: white;
    margin: 3px;
    cursor: pointer;
}
.minitext{
    font-size: 12px;
    font-weight: bold;
}
.box2{
    border: medium solid black;
    border-radius: 7px;
    display: inline-block;
    margin: 3px;
    background: white;
}
menu a:hover{
     background: rgba(255,255,255,0.5);
}
menu a{
    cursor:pointer;
    font-size: 28px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 4px 20px;
}
menu{
    background-color: #6e493c;
    background-image:url('../IMAGENES/menu2.png');
    padding: 10px;
    text-align: center;
    height: 38px;
    
}
.point:hover{
    cursor: pointer;
    transform: scale(1.03,1.03);
}
.tituloPop{
    font-size: 21px;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
}
#ingreso{
    background: rgba(187, 187, 187, 0.75) none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 0 7px 1px black;
    font-size: 25px;
    margin: 7px auto;
    padding: 5px;
    text-align: center;
    width: 270px;
    margin-top: 50px;
}
#cuerpoIngresar{
    background: #9F9F9F;
    border-radius: 7px;
    box-shadow: 0 0 7px 2px black;
    color: black;
    margin: 0 auto;
    padding: 20px;
    width: 310px;
}
#cuerpoFormulario{
    background: #403406;
    border-radius: 500px;
    height: 700px;
    width: 840px;
    display: inline-block;
    padding: 0;
    overflow: hidden;
    margin-left: -60px;
    box-shadow: -3px 4px 20px 0px black;
    border: solid 4px;
}
#cuerpoPrincipal{
    margin: 10px auto;
    width: 890px;
}
#cardPresentacion:hover{
    transform: scale(1.06);
}
#cardPresentacion{
    background: #B2A008;
    cursor: pointer;
    border-radius: 100px;
    display: inline-block;
    height: 65px;
    width: 65px;
    margin-right: -155px;
    position: relative;
    /* border: solid black 2px; */
    top: 15px;
    overflow: hidden;
    border: black solid 2px;
    padding: 8px;
}
#cardLoger{
    background: #B2A008;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    display: inline-block;
    padding: 0;
    /* box-shadow: 0 0 5px 0.5px black; */
    margin-right: -4px;
    border: solid black;
}
div#administracion {
    width: 50px;
    height: 38px;
    background: #F0C516;
    display: inline-block;
    box-shadow: -1px 1px 2px 1px black;
    border-radius: 40px 20px;
    padding: 13px;
}
div#cliente {
    width: 85px;
    height: 38px;
    background: #F0C516;
    display: inline-block;
    margin: 0 8px;
    border-radius: 9px;
    padding: 10px;
    box-shadow: 0px 1px 3px 1px black;
}
div#reportes {
    width: 50px;
    height: 38px;
    background: #F0C516;
    display: inline-block;
    box-shadow: 1px 1px 2px 1px black;
    border-radius: 20px 40px;
    padding: 12px;
}
div#menu {
    text-align: center;
    margin-top: 12px;
    height: 65px;
}
#reportes:hover,#cliente:hover,#administracion:hover,#submenu:hover{
    cursor: pointer;
    background: rgba(200,200,200,0.8);
    padding: 7px;
}
#titulomenu{
    background: #F0C516;
    margin: 13px auto;
    width: 255px;
    height: 27px;
    padding: 10px;
    TEXT-ALIGN: CENTER;
    font-size: 25px;
    border-radius: 8px;
    border: solid 3.2px;
}
div#formulario {
    width: 650px;
    height: 521px;
    margin: 0 auto;
    padding: 3px;
    BACKGROUND: WHITE;
}
#blanco{
    background: white;
}
#submenu{
    width: 160px;
    background: #F0C516;
    text-align: center;
    font-weight: bold;
    float: right;
    right: -77px;
    height: 40px;
    border: solid 3px;
    font-size: 20px;
    border-radius: 60px 60px 0 0;
    padding: 10px;
    position: relative;
    font-family: cursive;
    display: none;
    top: -321px;
    transform: rotate(-90deg);
}

#ListaMenu li:hover{
    background: white;
}
#ListaMenu li{
    margin-left: 22px;
    cursor: pointer;
    margin-top: 0;
    padding: 4px 8px;
    border-radius: 8px;
}
#ListaMenu{
    width: 200px;
    position: absolute;
    top: 160px;
    background: rgba(240,197,22,0.8);
    padding: 20px 15px;
    font-weight: bold;
    border-radius: 7px;
    z-index: 8;
    border: solid 3px;
    left: -240px;
}
div#cuerpoRegistroPersonal,div#cuerpoOtrosPagos,div#cuerpoDatosEmpresa,#cuerpoListadoEmpleado,#cuerpoEmpleadoPago {
    position: absolute;
    top:295px;
    left:330px;
    z-index: 0;
    width:10px;
    height:10px;
    display: none;
}
#fotoPerfil{
    width: 80px;
    height: 80px;
    margin-left: 36px;
}
#tablaEmpleado,#tablaEmpleadoSueldo,#tablaOtroPago{
    height: 360px;
}
#tablaDetallePago{
    height: 140px;
}
#popPagoSueldo{
    width: 470px;
}